body{
  padding: 0;
  margin: 0;
  font-family: Arial;
}

.contenitore{
  display: flex;
}

.chart{
  margin: 20px;
  padding: 20px;
  /* background-color:black; */
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

input{
  padding: 5px;
  margin: 7px;
}

.Sidebar{
  height: 100%;
  width: 250px;
  background-color: green;
}

li{
  list-style-type: none;
}